#facade {
    height: 100vh;
    min-height: 500px;
    overflow: hidden;
    //border: 15px solid $black;
    border-bottom: 0px;
    .first-column {
        float: left;
        width: 30%;
        height: 100%;
        @include bgImg('../img/drink-beer.jpg');
        background-size: cover;
    }
    .second-column {
        float: left;
        width: 30%;
        h1 {
            padding: 180px 15px;
            text-align: center;
            @include fSize(90);
            font-family: 'Pirata One', cursive;
        }
    }
    .third-column {
        background-color: $main;
        float: left;
        width: 40%;
        height: 100%;
        .icon-image {
            height: 60%;
            @include bgImg('../img/pexels-photo-1128975.jpeg');
            background-size: cover;
        }
        .description {
            height: 40%;
            color: $white;
            .master-review,
            .record-box {
                width: 50%;
                float: left;
                height: 100%;
            }
            .master-review {
                p {
                    padding: 20% 10% 8%;
                    text-align: right;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 300;
font-size: 15px;
line-height: 20px;
                }
            }
            .record-box {
                background-color: $black;
                p {
                    text-align: center;
                    vertical-align: middle;
                    font-size: 220px;
                    padding-top: 30%;
                    font-family: 'Pirata One', cursive;
                }
            }
        }
    }
}

#chapitas-list {
    ul {
        width: 57%;
        margin-left: 23%;
        padding-top: 80px;
        overflow: hidden;
        li {
            float: left;
            width: 250px;
            height: 250px;
            margin: 0 2px 4px;
            a {
                display: block;
            }
        }
    }
}